.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 300px 300px;
    grid-template-columns: 300px 300px 300px;
    grid-template-columns: 300px 300px 1fr;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(3, 1fr); /*how many times to repeat what*/
    grid-template-columns: auto 1fr 1fr; /*auto = max size of content*/
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, 200px); /*don't care how many columns. Just figure it out for me. show how you can change sizing of page*/
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: end;
    align-items: end;
}

.green {
    grid-column: span 2; /*high number will cause it to create extra grids even if we didn't tell it*/
    grid-row: span 2;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-column: 2 / 4;
    grid-column: 2 / -1; /* span it to the last track */
    grid-row: 2 / -1; /*but you need to define rows in the container*/
    justify-self: end;
    align-self: end;
}
.zone {
    cursor:pointer;
    /*display:inline-block;*/
    text-align: center;
    font-size:10em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.green{
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

